.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.custom-height-container {
  height: 500px;
  /* Replace with your desired height */
}





/* to add custome color code here*/

.custom-color {
  color: #00682b;
  /* Replace with your desired color code */
}

.userName {
  color: #000000;
  /* Replace with your desired color code */
  font-weight: bold;
}

.fixed-size {
  width: 400px;
  height: 300px;
}

.fixed-size-blog {
  width: 400px;
  height: 300px;
}

.fixed-size-for-div {
  margin: 0px;
  padding: 200px;
}

.style1 {
  padding-left: 0.15rem
}

.style2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.lightblue {
  background-color: #c9d2e0;
  /* Replace with your desired color code */
  font-weight: bold;
}

.adminSideBar{
  width:100px
}

.widthh{
  width:auto
}